
  

  
 
  
  .span {
    display: flex;
    justify-content: space-around;
  }
  
  .span span {
    pointer-events: none;
  }
  
  .cc span {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .Components-container {
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 800px;
    padding: 20px; 
    max-width: 100%;
    box-sizing: border-box; 
    background-image: url('/img/Cloud.png'); 
    background-size: cover ;
    background-position: center; 
  }
  
  .top-container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    max-width: 800px;
    margin-bottom: 1px;
  }
  
  .left-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px; 
    margin-bottom: 1px;
  }
  
  .right-container {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-bottom: 1px;
  }
  
  .bottom-container {
    margin-top: 1px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 800px;
    height: 275px;
  }
  
  .Header {
    font-size: 8px; 
    margin-bottom: 1px;
    text-align: center;
    margin-top: 1px;
    color: white;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #414141;
    padding: 1px;
    width: 100%; 
    max-width: 600px; 
  }
  
  .u-name {
    font-size: 8px;
    margin-top: 1px;
    color: white;
    
    border: 1px solid black;
    border-radius: 25px;
    background-color: #414141;
    padding: 10px; 
    width: 100%; 
    max-width: 700px; 
  }
  